[submodule "scripts/feh-assets-json"]
	path = scripts/feh-assets-json
	url = https://github.com/HertzDevil/feh-assets-json
	branch = book7-2023
[submodule "scripts/hackin/languages/KOKR"]
	path = scripts/hackin/languages/KOKR
	url = https://github.com/Cass07/fehbuilder_kokr
