data/Fire_Emblem_Heroes_Font.ttf
static/common/feh-font.woff2
data/img/heroes/*
data/img/other/*
data/img/icons/*
!data/img/heroes/README
!data/img/other/README
!data/img/icons/README
*/__pycache__/
env/
scripts/fehupdate-*
