data/Fire_Emblem_Heroes_Font.ttf
static/common/feh-font.woff2
data/img/heroes/*
data/img/sprites/*
data/img/sprites-idle/*
data/img/hd-faces/*
data/img/faces/*
data/img/condensed-faces/*
data/img/other/*
data/img/icons/*
!data/img/heroes/README
!data/img/sprites/README
!data/img/sprites-idle/README
!data/img/hd-faces/README
!data/img/faces/README
!data/img/condensed-faces/README
!data/img/other/README
!data/img/icons/README
*/__pycache__/
env/
scripts/fehupdate-*
