/* Main elements: Body and app Container */
body {
	background-image: url("/common/assets/BG_Brave.webp");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui;
	padding: 0;
	margin: 0;
	text-align: center;
}
.contenedor {
	display: grid;
	gap: 1em;
	grid-template-rows: 100vh;
	grid-template-columns: calc((100vh - 2.5em) * 0.5625) auto; /* Force image into their aspect ratio and keep the form to just fit */
	width: calc(((100vh - 2.5em) * 0.5625) + 44em);
	margin: auto;
}

@media (max-aspect-ratio: 5/4) { /* Small screen layout */
	.contenedor {
		width: calc(((100vh - 2.5em) * 0.5625) + 28em);
	}
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	.contenedor {
		grid-auto-flow: column;
		width: 90vw;
		gap: 0;
		grid-template-columns: 90vw;
		grid-template-rows: auto auto;
	}
}

/* Unit preview (the actual image + build slot) */
.unitpreview {
	display: flex;
	flex-direction: column;
}
#fakecanvas {
	width: 100%;
	height: auto;
}
#unitslot {
	height: 2.5em;
	width: 100%;
	display: flex;
}
#unitslot > button {
	--background: linear-gradient(
		to bottom,
		#e40303,
		#e40303 16.67%,
		#ff8c00 16.67%,
		#ff8c00 33.33%,
		#ffed00 33.33%,
		#ffed00 50%,
		#008026 50%,
		#008026 66.67%,
		#004dff 66.67%,
		#004dff 83.33%,
		#750787 83.33%,
		#750787
	);
	border: 0;
	width: 25%;
	padding: 0.5em 0.25em 0.5em 0.25em;
	color: #fff;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
	background: var(--background);
	overflow: hidden;
	font-size: 13pt;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	cursor: pointer;
}
#unitslot > button:hover{
	--background: linear-gradient(
		to bottom,
		#d00000,
		#d00000 16.67%,
		#eb7800 16.67%,
		#eb7800 33.33%,
		#ebd900 33.33%,
		#ebd900 50%,
		#006c12 50%,
		#006c12 66.67%,
		#0039eb 66.67%,
		#0039eb 83.33%,
		#610073 83.33%,
		#610073
	);
	background: var(--background);
	background-size: cover;
}
#unitslot > button:not(:last-child) {
	border-right: 3px solid white;
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	#unitslot {
		order: 2; /* Render the build slows below */
	}
}

/* Form and sections */
.form {
	overflow-y: scroll; /* Allow scrolling if the form is too big for the screen */
	display: flex;
	flex-direction: column;
	background-color: rgba(14, 51, 69, 0.6);
	color: white;
	text-align: initial;
	padding: 1em 1.5em 0 1.5em;
	box-sizing: border-box;
}
.section {
	display: grid; /* All sections are grids */
	gap: 0.5em 1em;
}
.headerform, #usedalliesform, #buffsform, #pairupsform {
	grid-template-rows: auto;
	grid-template-columns: repeat(2, 1fr); /* Header, allies, buffs and pairups are undefined number of rows in two columns */
}
.unitform, .skillsform {
	grid-template-rows: repeat(4, auto); /* Unit and Skills section are two columns with 4 elements each */
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column;
}
.miscform {
	grid-template-rows: repeat(3, auto); /* Misc section is two columns with 3 elements each */
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column;
}

@media (max-aspect-ratio: 5/4) { /* Small screen layout */
	.headerform, #usedalliesform, #buffsform, #pairupsform, .unitform, .skillsform, .miscform {
		grid-template-columns: auto; /* Everyone becomes single row now */
	}
	.unitform, .skillsform, .miscform {
		grid-template-rows: initial;
		grid-auto-flow: row; /* Unit, Skills and Misc stop flowing in columns */
	}
}

/* Section grid items */
.row-property {
	display: grid;
	column-gap: 1em;
	grid-auto-flow: column;
	grid-template-rows: 2em; /* All section grid items are 2em tall */
}
.row-property.single {
	grid-template-columns: 2em minmax(0, 1fr); /* Grid items of two columns, imagelabel hardcoded to 2em and the input taking remaining space. */
}
.row-property.double {
	grid-template-columns: repeat(2, 2em minmax(0, 1fr)); /* Grid items of four columns, 2ximagelabel hardcoded to 2em and the input dividing remaining space. */
}
.row-property.checkboxshare {
	grid-template-columns: 2em minmax(0, 1fr) 5em; /* Grid items of four columns, 1 imagelabel hardcoded to 2em, the input taking two and the checkbox the remains. */
}
.row-property.fat {
	grid-template-rows: auto; /* Allow this grid section to grow it's height indefinetely */
}
.additionaloptions {
	grid-template-columns: 1fr 2fr; /* Use a bit more of space for the checkboxes */
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	.additionaloptions {
		grid-template-columns: 1fr 1fr; /* Make sure the download button looks good by using the same space */
	}
}

/* Elements that are contained within grid items (labels, inputs, selects) */
.checkboxes {
	display: flex; /* Checkboxes is a just a container for a set of checks */
	gap: 0.3em;
	align-items: center;
	justify-content: center;
}
input[type=checkbox] {
	width: 18px;
	height: 18px;
}
input[type=range] {
	margin: 0; /* Delete margins on range inputs to let them grow to the max of the grid item */
}
input[type=text] {
	font-size: inherit;
}
input[type=number] {
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	font-weight: bold;
}
input[type='number']::-webkit-inner-spin-button {
	opacity: 1; /* Make sure number inputs have the clickable buttons on Chrome */
}
.imagelabel {
	height: 2em;
	width: 2em;
	--spritesheet-width: 42; /* This is the number of icons in each of row of the spritesheet */
	background-image: url("/common/assets/online.webp");
	background-position: calc(var(--spriteid) * -100%) 0;
	background-size: calc(var(--spritesheet-width) * 100%); /* If we increase the size of the background a 100% for each icon they will fit in any size */
}
.dinamiclabel {
	height: 2em; /* Prevent the labels from blowing out */
	margin: auto; /* Make sure they are centered within their space since not all square shaped */
}
.textlabel {
	display: flex;
	align-items: center; /* Make sure the text labels are fully centered */
	justify-content: center;
}
.select-without-search {
	font-size: inherit;
	background-color: white;
	color: #444;
	border-radius: 4px;
	border: 1px solid grey;
	padding-left: 0.25em;
}
.actionbutton {
	border: 0;
	height: 100%; /* Required to set dimensions because we are not direct content of a grid item but below an <a>. FIXME: Better solution? */
	color: #fff;
	background-color: #006bde;
	border-radius: 0.2em;
	padding: 0 1em 0 1em;
	cursor: pointer;
	font-size: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Section titles (name and buttons) */
.sectiontitle {
	display: flex;
	align-items: center;
	gap: 1em;
}
.sectionbutton {
	border: 0;
	height: 40%;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	background-color: #006bde;
	border-radius: 0.2em;
	padding: 0 1em 0 1em;
	cursor: pointer;
}

/* Legendaries/Buffs/Pairups section switcher (essentially a section title on steroids) */
.tabs {
	display: flex;
	margin-top: 1em;
	align-items: center;
}
.tabs > h2 {
	margin-right: 0.5em;
}
.tabs > button {
	margin-left: 0.5em;
}
.tabs > div {
	padding: 0.5em;
	border-bottom: 1px solid white;
	cursor: pointer;
}
.selected {
    background-color: white; /* Exclusively used to indicate current section */
}

/* Relevant links (source code, discord, donations, homepage) */
.links {
	display: flex;
	margin-top: auto;
	margin-left: auto;
	gap: 0.5em;
	padding: 1em 0 0.5em 0;
}
.links > * {
	text-decoration: none;
}

/* Rebspicker variables */
#selectheroes, #weapon, #special, #assist, #Askill, #Bskill, #Cskill, #Sskill {
	--collapsed-select-height: 1.9em;
	--select-width: 100%;
	--list-item-max: 6;
	--list-item-height: 2em;
	--font-color: #444;
	--background-color: white;
	--background-hover-color: #5897fb;
	--disabled-background-color: #eee;
}
#allies {
	--collapsed-multiselect-height: 2em;
	--select-width: 100%;
	--list-item-max: 5;
	--list-item-height: 2em;
	--font-color: #444;
	--background-color: white;
	--background-hover-color: #5897fb;
	--disabled-background-color: #eee;
}

/* Other fixes and workarounds */
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; /* Hide all scrollbars to prevent them taking up space */
}
.unrendered {
	display: none; /* Some items are never rendered at the beginning, if ever */
}
.basekit {
	background-color: rgb(92, 180, 224); /* Used to color basekit skills in selects */
}
h2 {
	text-decoration: underline; /* Add underline on all titles */
	text-align: initial;
}
a {
	text-decoration: none;
}
