/* Main elements: Body and app Container */
body {
	background-image: url("/common/assets/BG_Brave.webp");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
.contenedor {
	width: calc(100vw - 2em);
	height: calc(100vh - 2em);
	display: flex;
	gap: 0.5em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	.contenedor {
		flex-direction: column;
		width: 90vw;
		height: auto;
		gap: 0;
	}
}

/* Tier list element */
#tierlist {
	height: min-content;
	width: 50%;
	background-color: #222;
}
.tier {
	display: flex;
	min-height: 6em;
	gap: 0.5em;
	border: 2px solid black;
	border-bottom: 1px solid black;
}
.tiername {
	width: 6em;
	border-right: 2px solid black;
	font-weight: bold;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.tiercontent {
	display: flex;
	flex: 1;
	padding: 0.5em;
	flex-flow: row wrap;
	gap: 0.1em;
}
.tieroptions {
	width: 6em;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	#tierlist {
		width: auto;
	}
}

/* Elements that are contained within tierlist items (labels, inputs, selects) */
.tiercolor {
	border: 0;
	padding: 0;
	width: 2em;
	height: 2em;
	margin-left: 0.3em;
	background-color: transparent;
}
.tiercolor::-webkit-color-swatch-wrapper {
    padding: 0;
}
.deletebutton {
	padding-left: 5px;
}
.tiercolor:hover {
	cursor: pointer;
}
.material-icons {
	font-size: 2.5em !important;
	color: grey;
}
.material-icons:hover {
	cursor: pointer;
	color: white;
}

/* Individual draggable units */
.unit {
	height: 5em;
	width: 5em;
	position: relative;
	background-size: cover;
}
.iconinfo {
	position: absolute;
}
.weapon {
	height: 1.4em;
	top: 0.07em;
	left: 0.07em;
}
.weapon.patched {
	height: 1.54em;
	top: 0;
	left: 0;
}
.movement {
	height: 1.2em;
	bottom: -1px;
	right: -1px;
}
.blessing {
	height: 1.6em;
	top: 0;
	right: 0;
}
.origin {
	height: 1.65em;
	bottom: -3px;
	left: -2px;
}

/* Form and sections */
.form {
	display: flex;
	width: 50%;
	overflow-y: scroll;
	flex-direction: column;
	background: rgba(14, 51, 69, 0.6);
	color: white;
	text-align: initial;
	padding: 1em 1.5em 0 1.5em;
	box-sizing: border-box;
}
.section {
	display: grid; /* All sections are grids */
	gap: 0.5em 1em;
}
.headerform {
	grid-template-rows: auto;
	grid-template-columns: auto; /* Header has two colums, the buttons take all space available as long the links fit */
}
.savesform {
	grid-template-rows: auto;
	grid-template-columns: auto 1fr auto auto auto; /* Saves section are all auto except the select which is twice as big */
}
.filtersform {
	grid-template-rows: repeat(3, auto); /* Filters section are 3 columns with 3 elements each */
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: column;
}
.iconsform { /* Icons form is so simple we are better off just using a flex element */
	justify-content: center;
	display: flex;
	gap: 1em;
}
#results {
	display: flex;
	min-height: 10em;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25em;
}

@media (min-resolution: 150dpi) and (max-aspect-ratio: 10/7), (orientation: portrait) { /* Mobile/Portrait layouts */
	.form {
		width: auto;
	}
	.savesform {
		grid-template-rows: auto auto;
		grid-template-columns: auto auto auto; /* Saves section are all auto except the select which is twice as big */
	}
	.savesform > *:nth-child(2) {
		grid-column: 1 / span 2;
		grid-row: 1;
	}
	.filtersform {
		grid-template-rows: repeat(4, auto); /* Filters section are 3 columns with 3 elements each */
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: column;
	}
	.iconsform { /* Icons form is so simple we are better off just using a flex element */
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Section grid items */
.row-property {
	display: grid;
	column-gap: 1em;
	grid-auto-flow: column;
	grid-template-rows: 2em; /* All section grid items are 2em tall */
}
.row-property.single {
	grid-template-columns: 2em minmax(0, 1fr); /* Grid items of two columns, imagelabel hardcoded to 2em and the input taking remaining space. */
}
.additionaloptions {
	grid-template-columns: 1fr 1fr 1fr;
}

/* Relevant links (source code, discord, donations, homepage) */
.links {
	display: flex;
	margin-top: auto;
	margin-left: auto;
	gap: 0.5em;
	padding: 1em 0 0.5em 0;
}
.links > * {
	text-decoration: none;
}

/* Elements that are contained within grid items (labels, inputs, selects) */
input[type=checkbox] {
	width: 18px;
	height: 18px;
}
.imagelabel {
	min-height: 2em;
	min-width: 2em;
	--spritesheet-width: 8; /* This is the number of icons in each of row of the spritesheet */
	background-image: url("/common/assets/tierlist.webp");
	background-position: calc(var(--spriteid) * -100%) 0;
	background-size: calc(var(--spritesheet-width) * 100%); /* If we increase the size of the background a 100% for each icon they will fit in any size */
}
.dinamiclabel {
	height: 2em; /* Prevent the labels from blowing out */
	margin: auto; /* Make sure they are centered within their space since not all square shaped */
}
.dinamiclabel#moveicon {
	height: 1.7em;
}
.select-without-search {
	font-size: inherit;
	background-color: white;
	color: #444;
	border-radius: 4px;
	border: 1px solid grey;
	padding-left: 0.25em;
}
.button {
	border: 0;
	height: 2em;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	background-color: #006bde;
	border-radius: 0.2em;
	padding: 0 1em 0 1em;
}
.button:hover {
	cursor: pointer;
}

/* Other fixes and workarounds */
*::-webkit-scrollbar {
	display: none;
}
* {
	scrollbar-width: none;
}
h2 {
	text-decoration: underline;
}
