body {
	background-image: url("/common/assets/BG_Brave.webp");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

.contenedor {
	width: calc(100vw - 2em);
	height: calc(100vh - 2em);
	display: flex;
	gap: 0.5em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#tierlist {
	height: min-content;
	width: 50%;
	background-color: #222;
}
.tier {
	display: flex;
	min-height: 6em;
	gap: 0.5em;
	border: 2px solid black;
	border-bottom: 1px solid black;
}
.tiername {
	width: 6em;
	border-right: 2px solid black;
	font-weight: bold;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.tiercontent {
	display: flex;
	flex: 1;
	padding: 0.5em;
	flex-flow: row wrap;
	gap: 0.1em;
}
.tieroptions {
	width: 6em;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.tiercolor {
	border: 0;
	padding: 0;
	width: 2em;
	height: 2em;
	margin-left: 0.3em;
	background-color: transparent;
}
.tiercolor::-webkit-color-swatch-wrapper {
    padding: 0;
}
.deletebutton {
	padding-left: 5px;
}
.tiercolor:hover {
	cursor: pointer;
}
.material-icons {
	font-size: 2.5em !important;
	color: grey;
}
.material-icons:hover {
	cursor: pointer;
	color: white;
}
.unit {
	height: 5em;
	width: 5em;
	position: relative;
	background-size: cover;
}
.iconinfo {
	position: absolute;
}
.weapon {
	height: 1.4em;
	top: 0.07em;
	left: 0.07em;
}
.weapon.patched {
	height: 1.54em;
	top: 0;
	left: 0;
}
.movement {
	height: 1.2em;
	bottom: -1px;
	right: -1px;
}
.blessing {
	height: 1.6em;
	top: 0;
	right: 0;
}
.origin {
	height: 1.65em;
	bottom: -3px;
	left: -2px;
}

.form {
	display: flex;
	width: 50%;
	overflow-y: scroll;
	flex-direction: column;
	background: rgba(14, 51, 69, 0.6);
	color: white;
	text-align: initial;
	padding: 1em 1.5em 0 1.5em;
	box-sizing: border-box;
}

#results {
	display: flex;
	min-height: 10em;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25em;
}
.form > .section {
	column-count: 3;
}

input[type=checkbox] {
	width: 18px;
	height: 18px;
}

.row-property {
	display: flex;
	gap: 1em;
	padding-bottom: 0.5em;
	break-inside: avoid;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
.imagelabel {
	height: 2em;
	width: 2em;
}
.row-property.single > div {
	width: 15.5em !important;
}
.row-property.double > div {
	width: 5.75em !important;
}
h2 {
	text-decoration: underline;
}
.select-without-search {
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: inherit;
	background-color: white;
	color: #444;
	border-radius: 4px;
	border: 1px solid grey;
	padding-left: 0.25em;
}

.links {
	display: flex;
	margin-top: auto;
	gap: 0.5em;
}
.links > * {
	text-decoration: none;
}

.additionaloptions {
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 1em;
	height: 2em;
}

.button {
	border: 0;
	height: 2em;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	background-color: #006bde;
	border-radius: 0.2em;
	padding: 0 1em 0 1em;
}
.button:hover {
	cursor: pointer;
}
