body {
	background-image: url("assets/BG_Brave.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: Ubuntu;
	padding: 0;
	margin: 0;
	text-align: center;
	height: 100vh;
	overflow-y: hidden;
}

.contenedor {
	display: inline-flex;
	gap: 1em;
}

.unitpreview {
	display: flex;
	flex-direction: column;
	width: calc((100vh - 2.5em) * 0.5625);
}
#fakecanvas {
	height: calc(100vh - 2.5em);
}
#unitslot {
	height: 2.5em;
	width: 100%;
	display: flex;
}

.form {
	display: flex;
	flex-flow: row wrap;
	writing-mode: vertical-lr;
	row-gap: 2em;
	background-color: rgba(14, 51, 69, 0.6);
	color: white;
	text-align: initial;
	padding: 0em 1em 0em 1.5em;
	box-sizing: border-box;
}
.form > * {
	writing-mode: initial;
}

@media screen and (orientation: portrait) {
	body {
		height: auto;
		overflow-y: initial;
		width: 100vw;
	}
	.contenedor {
		flex-direction: column;
		gap: 0;
	}
	.unitpreview {
		height: auto;
		width: 90vw;
	}
	#fakecanvas {
		height: auto;
		width: 100%;
		order: 1;
	}
	#unitslot {
		order: 2;
	}
	.form {
		height: auto;
		width: 90vw;
		display: flex;
		flex-flow: column nowrap;
		writing-mode: initial;
		row-gap: 0;
	}
}

#unitslot > button, .generatebutton {
	border: 0;
	width: 25%;
	padding: 0.5em 0.25em 0.5em 0.25em;
	color: #fff;
	background-color: #007bff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
#unitslot > button:not(:last-child) {
	border-right: 1px solid white;
}
#unitslot > button:hover, .generatebutton:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	cursor: pointer;
}
.generatebutton {
	width: auto;
	height: 2.5em;
	border-radius: 0.3em;
	padding: 0 1em 0 1em;
}

.row-property {
	display: flex;
	align-items: center;
	gap: 1em;
	padding-top: 0.6em;
}
input[type=number] {
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	font-weight: bold;
	width: 6.65em;
	height: 2em;
}
.imagelabel {
	height: 2em;
	width: 2em;
}
.row-property.single > select {
	width: 19em !important;
}
.row-property.double > select {
	width: 7.1em !important;
}
.select2-selection__rendered {
    line-height: 2em !important;
}
.select2-container .select2-selection--single, .select2-selection__arrow {
    height: 2em !important;
}
.select2-container {
	text-align: initial;
}
.select2-selection.select2-selection--multiple {
	color: black;
}
.basekit {
	background-color: rgb(92, 180, 224);
}
input[type=checkbox] {
	width: 18px; 
	height: 18px;
}
h2 {
	text-decoration: underline;
}

.links {
	display: flex;
	margin-top: auto;
	margin-left: auto;
	gap: 0.5em;
	padding: 0.5em 0 0.5em 0;
}
.links > * {
	text-decoration: none;
}

@media screen and (orientation: portrait) {
	.row-property.single > select {
		width: calc(100% - 2em) !important;
	}
	.row-property.double > select {
		width: calc((100% - 9.55em) / 2) !important;
	}
	input[type=number] {
		width: calc((100% - 10.45em) / 2) !important;
	}
}
